body {
  background-color: #afc8cf;
  color: #334066;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  border-bottom: 2px solid #334066;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

ul {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 70px;
}

li {
  display: inline-block;
  margin: 0 30px;
}

li:hover {
  color: #4d004d;
}
